<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <!-- <h1>Welcome to the testing site</h1>
    <h2>Here is a picture of a puppy!</h2>
    <img src="../static/puppy_pic.jpg" width ="300" height = "300"alt=""> -->

    <h1>Hello! {{my_name}}</h1>
    <h1>{{letters}}</h1>
    <h2>{{s_dictionary}}</h2>

</body>
</html>